.vexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: 1px solid black;
  }

  #drawTables {
    width: 700px;
    height: 50px;
    border: 1px solid black;
    overflow: auto;
  }
  #drawTimes{
    width: 700px;
    height: 50px;
    border: 1px solid black;
    overflow: auto;
  }
  #output {
    /* width: 100%; */
    border: 1px solid black;
  }

  .buttons {
    display: flex;
  }

  .inBut{
    margin: 10px 10px 10px 10px ;
  }